.cv-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 60px;
  align-items: start;
  margin-left: -100px;
}

.cv-sidebar {
  font-size: 0.95rem;
}

.cv-title {
  text-align: center;
}

.profile-photo {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

.cv-main iframe {
  width: 120%;
  height: 900px;
  border: none;
}

.navbar-title {
  font-weight: 700;
}

.navbar-nav {
  margin-left: 80px;
}/* css styles */
